body{
    background: #f80505;
    font-family: Arial,Sans-serif;
}
div{
    margin: 20px 0;
}
.btn{
    color: rgb(76, 0, 255);
    background: rgb(6, 241, 77);
    display: inline-block;
    font-size: 16px;
    padding: 25px 30px;
    text-decoration:none;
    margin:0 10px;
}
.btn:hover{
 opacity: .5;
}
.small{
    font-size: 24px;
    padding: 30px 25px;
}
.medium{
    font-size:16px;
    padding: 20px 25px;
}
.big{
    font-size: 18px;
    padding: 20px 25px;
}
.extra-big{
    font-size:20px;
    padding: 25px 30px;
}
.azul{background:blueviolet;}
.verde{background: chartreuse;}
.naranja{background: cyan;}

.border-radius{
    border-radius:100px;
    
}